table {
    width: 100%;
    border-collapse: collapse;
}
body{
    background-color: #e3dfb1;
    color: rgb(0, 0, 0);
}
.sorted{
    background-color: rgb(195, 195, 91);
    padding: 8px;
    border-radius: 10px 10px 0 0;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    /*cursor: pointer*/
}
.js-openRun{
  cursor: pointer
}

input[type="text"] {
    padding: 6px;
    margin-bottom: 30px;
    width: 99%;
}
div{
    display: inline-block;
    padding: 2px;
}


.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
